In [1]:
s='Hey there'
print(s)

Hey there

In [2]:
s

'Hey there'

In [12]:
s[::-1]

'ereht yeH'

In [13]:
t=(1,2,'hi',[1,2],(2,4))
t=list(t)

In [15]:
t[2][0]

'h'

In [6]:
d1=[{'a':35},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]
d1[0]['a']

35

In [36]:
s='468hi3.4'
a=[4,6,8,'hi',3.4]
b=(4,6,8,'hi',3.4)
c={4:6,8:['hi',3.4]}
d={4,6,8,'hi',3.4}
type(a),type(b),type(c),type(d),type(s)

(list, tuple, dict, set, str)

In [37]:
b+=('Bye',)
b

(4, 6, 8, 'hi', 3.4, 'Bye')

In [38]:
#*->treats as tuple
(*a,*b,*s)

(4,
 6,
 8,
 'hi',
 3.4,
 4,
 6,
 8,
 'hi',
 3.4,
 'Bye',
 '4',
 '6',
 '8',
 'h',
 'i',
 '3',
 '.',
 '4')

In [28]:
a+=['Bye']
a

[4, 6, 8, 'hi', 3.4, 'Bye']

In [17]:
len(s),len(a),len(b),len(c),len(d)

(8, 5, 5, 2, 5)

In [20]:
s=s[:3]+'helloo2'+s[3:]
s

'468helloo2helloo2hi3.4'

In [40]:
c
c2={'a':45,'b':35}
#(*args,**kwargs)
{**c,**c2}

{4: 6, 8: ['hi', 3.4], 'a': 45, 'b': 35}

In [ ]:
#set->unordered/indexing not allowed

In [45]:
a[0]='A'
a

['A', 6, 8, 'hi', 3.4]

In [46]:
b[0]='A'

TypeError: 'tuple' object does not support item assignment

In [47]:
c[4]=12
c

{4: 12, 8: ['hi', 3.4]}

In [51]:
#del s[0]
#del a[0]
#del b[0]
del c[4]
c

{8: ['hi', 3.4]}

In [54]:
#bool: True Flase (anything non-zero or non-empty is true else false)
bool('abcd')

True

In [58]:
bool(' ')

True

In [53]:
bool('')

False

In [63]:
print(bool([]),
bool({}),
bool(()),
bool(-1),
bool(45),
bool([()]))

False False False True True True

In [26]:
a=34
b=34.5
c=34+5j
d='hello'
e=[55,4,5]
f=(3,4,5)
g={3:[4,5]}
h={3,4,5}

In [ ]:
#empty typle-()

In [4]:
d.strip('ol')

'he'

In [5]:
'-'.join('wars')

'w-a-r-s'

In [8]:
'#'.join('hi this is new string'.split())

'hi#this#is#new#string'

In [9]:
'hi this is new string'.replace(' ','#')

'hi#this#is#new#string'

In [15]:
#string formatting
x=20
y=30
#format specifier-deprecated(non advisable)
z='given %d and %d'%(x,y)
#FORMAT FUNCTION
p='given {} and {}'.format(x,y)
#or p.format(x,y)
#if multiple instances 
z1='given {0} and {1} but {0}'.format(x,y)
#f-string
z2=f'given {x} and {y} but {x}'
z2

'given 20 and 20'

In [20]:
e.append('data')

In [23]:
e.remove('data')

In [27]:
e.sort()
e

[4, 5, 55]

In [28]:
e.sort(reverse=True)
e

[55, 5, 4]

In [29]:
e1=['hi','wow','good','hey','yes','awesome']
#alphabetically
e1.sort()
e1

['awesome', 'good', 'hey', 'hi', 'wow', 'yes']

In [30]:
#acc to length
e1.sort(key=len)
e1

['hi', 'hey', 'wow', 'yes', 'good', 'awesome']

In [32]:
e1.sort(key=len,reverse=True)
e1

['awesome', 'good', 'hey', 'wow', 'yes', 'hi']

In [33]:
#tuple sorting
f1=list(f)
f1.sort(reverse=True)
f1=tuple(f1)
f1

(5, 4, 3)

In [35]:
tuple(sorted(f,reverse=True))

(5, 4, 3)

In [38]:
g.keys()

dict_keys([3, 'a'])

In [40]:
#g.keys cant be sliced so type cast instead
type(g.keys())
list(g.keys())[0]

3

In [43]:
#if present print its value else print 'oh no'
g.get('a',"Oh No")

44

In [45]:
g.get('z',None)

In [37]:
g['a']=44
g

{3: [4, 5], 'a': 44}

In [48]:
#deep copy
e3=e
e3.append(60)
e

[55, 5, 4, 60, 60]

In [51]:
#shallow copy
e4=e.copy()
e4.append(1)
e

[55, 5, 4, 60, 60]

In [ ]:
#indexing not allowed in set
#set keeps unique sorted data only